<div class="products">
  <div class="row">
    <div class="column arrow" (click)="sort($event)">
      <p>Name</p>
      <img
        [ngClass]="[sortValue === 'ASC' ? 'imgArrow' : 'imgArrow reverse']"
        src="../../../../assets/arrow.png"
      />
    </div>
    <div class="column">Vendor</div>
    <div class="column">Version</div>
  </div>

  <app-single-products
    *ngFor="let productData of products"
    [product]="productData"
  ></app-single-products>
  <mat-paginator
    class="paginator"
    *ngIf="products"
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangePage($event)"
  >
  </mat-paginator>
</div>
