.products {
  padding-top: 40px;
  width: 100%;
}


.column {
  float: left;
  width: 33.33%;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 70%;
  border-bottom: 1px solid black;
}

.arrow {
  display: flex;
  flex-direction: row;
}

.imgArrow {
  width: 15px;
  height: 20px;
  margin-left: 5px;
}

.reverse {
  transform: rotate(180deg);
}

.paginator {
  background-color: #ecf0f1;
  width: 70%;
}
