.article-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  width: 100%;
}

.article {
  flex: 0 0 50%;
  padding: 10px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.header {
  text-align: center;
  font-size: 24px;
  font-family: cursive;
}

.formOne {
  display: flex;
  flex-direction: column;
}

.formadd-card {
  margin: 80px;
}
