<div class="article-container">
  <div class="article">
    <mat-card class="formadd-card">
      <h2 class="header">Add Product</h2>

      <mat-card-content>
        <form
          class="formOne"
          [formGroup]="this.productForm"
          (ngSubmit)="
            this.addProduct(
              nameInput.value,
              vendorInput.value,
              versionInput.value
            )
          "
        >
          <mat-form-field>
            <input
              matInput
              #nameInput
              placeholder="Name"
              name="name"
              required
              formControlName="name"
            />

            <mat-error *ngIf="this.productForm.controls.name.errors?.required">
              Name is required!
            </mat-error>
            <mat-error *ngIf="this.productForm.controls.name.errors?.minlength">
              Name must be at least 2 symbols long!
            </mat-error>
            <mat-error *ngIf="this.productForm.controls.name.errors?.maxlength">
              Name must not be more than 40 symbols!
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              #vendorInput
              placeholder="Vendor"
              name="vendor"
              required
              formControlName="vendor"
            />

            <mat-error
              *ngIf="this.productForm.controls.vendor.errors?.required"
            >
              Vendor is required!
            </mat-error>
            <mat-error
              *ngIf="this.productForm.controls.vendor.errors?.minlength"
            >
              Vendor must be at least 2 symbols long!
            </mat-error>
            <mat-error
              *ngIf="this.productForm.controls.vendor.errors?.maxlength"
            >
              Vendor must not be more than 40 symbols!
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              #versionInput
              placeholder="Version"
              name="version"
              required
              formControlName="version"
            />

            <mat-error
              *ngIf="this.productForm.controls.version.errors?.required"
            >
              Version is required!
            </mat-error>
            <mat-error
              *ngIf="this.productForm.controls.version.errors?.minlength"
            >
              Version must be at least 2 symbols long!
            </mat-error>
            <mat-error
              *ngIf="this.productForm.controls.version.errors?.maxlength"
            >
              Version must not be more than 40 symbols!
            </mat-error>
          </mat-form-field>

          <br />

          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="this.productForm.invalid"
          >
            Add Product
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="article">
    <mat-card class="formadd-card">
      <h2 class="header">Add Contact</h2>

      <mat-card-content>
        <form
          class="formOne"
          [formGroup]="this.contactForm"
          (ngSubmit)="
            this.addContact(
              nameInputh.value,
              phoneInput.value,
              addressInput.value
            )
          "
        >
          <mat-form-field>
            <input
              matInput
              #nameInputh
              placeholder="Name"
              name="name"
              required
              formControlName="name"
            />

            <mat-error *ngIf="this.contactForm.controls.name.errors?.required">
              Name is required!
            </mat-error>
            <mat-error *ngIf="this.contactForm.controls.name.errors?.minlength">
              Name must be at least 6 symbols long!
            </mat-error>
            <mat-error *ngIf="this.contactForm.controls.name.errors?.maxlength">
              Name must not be more than 30 symbols!
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              #phoneInput
              placeholder="Phone"
              name="phone"
              required
              formControlName="phone"
            />

            <mat-error *ngIf="this.contactForm.controls.phone.errors?.required">
              Phone is required!
            </mat-error>
            <mat-error
              *ngIf="this.contactForm.controls.phone.errors?.minlength"
            >
              Phone must be at least 6 symbols long!
            </mat-error>
            <mat-error
              *ngIf="this.contactForm.controls.phone.errors?.maxlength"
            >
              Phone must not be more than 10 symbols!
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              #addressInput
              placeholder="Address"
              name="address"
              required
              formControlName="address"
            />

            <mat-error
              *ngIf="this.contactForm.controls.address.errors?.required"
            >
              Address is required!
            </mat-error>
            <mat-error
              *ngIf="this.contactForm.controls.address.errors?.minlength"
            >
              Address must be at least 10 symbols long!
            </mat-error>
            <mat-error
              *ngIf="this.contactForm.controls.address.errors?.maxlength"
            >
              Address must not be more than 80 symbols!
            </mat-error>
          </mat-form-field>

          <br />

          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="this.contactForm.invalid"
          >
            Add Contact
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
