<div class="contacts">
<div class="row">
  <div class="column arrow" (click)="sort($event)">
      <p>Name</p>
      <img
        [ngClass]="[sortValue === 'ASC' ? 'imgArrow' : 'imgArrow reverse']"
        src="../../../../assets/arrow.png"
      />
    </div>
  <div class="column">Username</div>
  <div class="column">Phone</div>
  <div class="column">Address</div>
</div>
    <app-single-contacts *ngFor="let contactData of contacts" [contact]="contactData"></app-single-contacts>
    <mat-paginator
    class="paginator"
    *ngIf="contacts"
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangePage($event)"
  >
  </mat-paginator>
</div>
