.example-card {
  width: 100%;
  }
  


.wrapper {
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

.name {
  font-size: 25px;
  font-family: cursive;
}

.additionaltext {
  font-size: 18px;
  font-family: cursive;
}