<body>
  <!-- <div class="wrapper">
    <mat-card class="example-card" *ngIf="user">
      <div mat-card-avatar class="vulnerable-image"></div>
      <mat-card-header>
        <mat-card-title class="username">{{user.username}}</mat-card-title>
      </mat-card-header>
      <br>
      <img mat-card-image src="../../../assets/images.png" alt="Photo of a User" width="100px">
      <mat-card-content class="da">
        <br>
        <p>Last login: {{user.lastLogin}} </p>
        <p>
          Email Address: {{user.email}}
        </p>
  
        
      </mat-card-content>
    </mat-card>
  </div> -->

  <div class="wrapper">
    <h2 class="name">{{user.username}}</h2>
    <img src="../../../assets/images.png" alt="Photo of a User" width="20%">
    <p class="additionalText" style="margin-top: 15px;">
      Email Address: {{user.email}}
    </p>
    <p class="additionalText">Last login: {{user.lastLogin}} </p>
  </div>
</body>
