.singleImage {
    width: 50%;
    height: 50%;
  
}

.headerImages {
    text-align: center;
    font-family: cursive;
}

.benefitText {
    font-size: 19px;
    font-family: cursive;
}

.container {
    margin-top: 50px;
}