<body>

  
  <div class="wrapper">
    <div class="container">
      <h1 class="headerImages">Key Benefits</h1>
      <mat-grid-list cols="3">
            <mat-grid-tile><img class="singleImage" src="../../../assets/502627.png" alt="Easy Sync"><p class="benefitText">Easy Sync</p></mat-grid-tile>
            <mat-grid-tile><img class="singleImage" src="../../../assets/1170577.png" alt="Add product" ><p class="benefitText">Add your own products</p></mat-grid-tile>
            <mat-grid-tile><img class="singleImage" src="../../../assets/Contacts-icon.png" alt="Contacts" ><p class="benefitText">Manage your contacts</p></mat-grid-tile>
        
          </mat-grid-list>
    </div>
</div>

</body>

