<div class="wrapper">
    <p class="text">Sync your Billy now</p>
  <button id="buttonSync" [disabled]="clicked" mat-button (click)="sync(); clicked = true;"><mat-icon>sync</mat-icon>Sync</button>
</div>
