.nav-container {
    top: 0px;
    right: 1px;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(235deg, #0D7DC0, #E63950, #F2A83B);
    position: fixed;
}
.nav-right {
    display: flex;
    margin-left: auto;
}
