<mat-toolbar class="nav-container">
  <button
    *ngIf="!this.loggedUserData"
    mat-button
    class="home-button"
    [routerLink]="['/home']"
  >
    <mat-icon>home</mat-icon>Home
  </button>

  <button *ngIf="this.loggedUserData" mat-button [routerLink]="['/products']">
    <mat-icon>list</mat-icon>Products
  </button>

  <button *ngIf="this.loggedUserData" mat-button [routerLink]="['/contacts']">
    <mat-icon>contacts</mat-icon>Contacts
  </button>
  <button *ngIf="this.loggedUserData" mat-button [routerLink]="['/add']">
    <mat-icon>add</mat-icon>Add Product/Contact
  </button>
  <button *ngIf="this.loggedUserData" mat-button [routerLink]="['/sync']">
    <mat-icon>sync</mat-icon>Sync
  </button>

  <div class="nav-right">
    <div *ngIf="!this.loggedUserData">
      <button
        mat-button
        [routerLink]="['auth/login']"
        [routerLinkActive]="'nav-link-active'"
      >
        <mat-icon>person</mat-icon>Sign in
      </button>
    </div>

    <div *ngIf="this.loggedUserData">
      <button mat-button [routerLink]="['/users', loggedUserData.id]">
        <mat-icon>person</mat-icon>
        {{ this.loggedUserData.username }}
      </button>
    </div>

    <!-- ///////////////////////////////////// -->
    <div *ngIf="!this.loggedUserData">
      <button
        mat-button
        [routerLink]="['auth/register']"
        [routerLinkActive]="'nav-link-active'"
      >
        <mat-icon>how_to_reg</mat-icon>Register
      </button>
    </div>
    <div *ngIf="this.loggedUserData">
      <button
        mat-button
        (click)="this.authService.logOutUser()"
        [routerLink]="['/home']"
        [routerLinkActive]="'nav-link-active'"
        (click)="this.logout()"
      >
        <mat-icon class="logout-icon">exit_to_app</mat-icon>
        Logout
      </button>
    </div>
  </div>
</mat-toolbar>
