.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    text-align: center;
}

.header {
    font-size: 24px;
    font-family: cursive;
}