.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  border-bottom: 1px solid black;
  margin-bottom: 15px;
  padding-bottom: 15px;
  width: 70%
}