<div class="row">
  <div class="column">{{contact.name}}</div>
  <div class="column">{{contact.username}}</div>
  <div class="column">{{contact.phone}}</div>
  <div class="column">{{contact.address}}</div>
</div>